html {
    background: #fff;
    color: #333;
}

html,
button,
input,
select,
textarea {
    font: 16px/1.5 'Open Sans', Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

.hd {
    background: #fff;
    border-bottom: 1px solid #efefef;
    padding: 0.5em 1em;
}

.hd .title {
    color: #333;
    font-size: 2em;
    line-height: 48px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.hd .title a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 767px) {
    .hd .title {
        font-size: 1.4em;
    }
}

/* Content */

.bd {
    padding: 0 30px;
}

.bd {
    margin: 0 auto;
    max-width: 1440px;
}

.url {
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    cursor: text;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    width: 100%;
}

.url-helper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3em;
}

.url-paste {
    flex: 1 100%;
}

#url-form {
    text-align: center;
}

#url {
    font-size: 1.3em;
    width: 80%;
}

.snapshot-copy-button {
    margin: 0 0.6em;
}

.generate-wrapper {
    text-align: center;
}

@media (max-width: 975px) {
    .bd {
        padding: 0 1em;
    }
    .url-helper {
        padding: 0 1em;
    }
    .url-helper h2 {
        font-size: 1.4em;
    }
    #url {
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    .hero {
        font-size: 1.4em;
        text-align: left;
    }
    .url,
    .url-helper,
    #url-form {
        padding: 0;
    }
    .url,
    #url {
        font-size: 0.9em;
    }
    #url {
        width: 100%;
    }
    .url-helper {
        display: block;
    }
    .url-helper h2 {
        font-size: 1.2em;
        margin: 1.5em 0 0.8em;
        text-align: left;
    }
    .url-helper ul {
        padding-left: 1.5em;
    }
    #result-url>a {
        overflow-wrap: break-word;
    }
    .snapshot-copy-button {
        margin: auto;
        display: block;
    }
}

/* SpinKit */

/* https://github.com/tobiasahlin/SpinKit/blob/master/examples/3-wave.html */

.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

/* Misc */

.invalid {
    background: #FFF7F7;
    border-color: #FFCCCC;
}

.valid {
    background: #F2FFEB;
    border-color: #98f9a0;
}